*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  /* --------- Font size --------------- */

  --hero-description-size: clamp(12px, 1.3vw, 36px);
  --hero-line-height: 29px;

  --font-Xlarge: clamp(30px, 5vw, 250px);
  --font-large: clamp(20px, 3vw, 80px);
  --font-medium: clamp(14px, 2vw, 36px);
  --font-small: clamp(12px, 1.5vw, 30px);
  --font-xsmall: clamp(12px, 1vw, 28px);

  /* --------- Colours --------------- */
  --default-black: #000000;
  --default-white: #ffffff;
  --button-main-color: #d9d9d9;
  --default-grey-color: #e2e2e2;
  --default-border-color: #57575722;

  --default-gradient: linear-gradient(
      237.41deg,
      rgba(0, 0, 0, 0.5) 14.81%,
      rgba(255, 255, 255, 0) 88.39%
    ),
    #232323;

  /* --------- Transition --------------- */
  --default-transition-opacity: 200ms opacity ease-in-out;
  --default-button-transition: 350ms all ease-in-out;
  --default-tile-transition: 200ms all ease-in-out;
  --default-transition-delay: 200ms;

  /* --------- Borders --------------- */
  --default-border-radius: 1vw;
  --button-radius: 5vw;

  --default-box-shadow: 5px 5px 5px -5px var(--default-black);
}

a {
  color: var(--default-black);

  text-decoration: none;
}

h1 {
  font-size: var(--font-Xlarge);
}

ul {
  list-style: none;
}

header {
  position: relative;
  background-color: var(--default-white);
  z-index: 2000;

  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;

  /* box-shadow: 5px 5px 5px -5px var(--default-black); */
  box-shadow: var(--default-box-shadow);
}

header .navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: rebeccapurple; */

  padding-top: clamp(8px, 1vw, 20px);
  padding-bottom: clamp(8px, 1vw, 20px);

  width: 100%;
  max-width: 1200px;

  z-index: 1000;
}

header .navbar-top .left img {
  height: 2.5vw;
  max-height: 80px;
  transform: translateY(50%);

  /* background-color: red; */

  cursor: pointer;
}

header .header-logo {
  width: 24vw;
  max-width: 350px;
}

header .user-icon {
  height: 5vw;
  max-height: 80px;
  transform: translateY(20%);
}

.navbar-bottom {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;

  height: clamp(16px, 4vw, 50px);
  width: 100%;

  background-color: var(--default-white);

  z-index: 2000;
}

.pages {
  display: flex;
  justify-content: space-between;

  width: 60vw;
  max-width: 1180px;

  font-size: var(--font-medium);
  font-weight: 300;
}

header .pages a {
  cursor: pointer;
}

header .pages .active {
  font-weight: bold;
  text-decoration: underline;
}

/* @media (min-width: 1200px) {
  .navbar {
    width: 1200px;
  }
} */

main {
  height: 2000px;

  background: var(--default-gradient);
}

/* --------------------- Hero section ---------------------*/

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  left: 2vw;
  transform: translate(0%, -50%);

  width: 5vw;

  z-index: 10;
  opacity: 25%;
  transition: var(--default-transition-opacity);
}

.arrow-right {
  left: unset;
  right: 2vw;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 60%;
  cursor: pointer;
}

.heroes {
  position: relative;
  height: 23vw;
  min-height: 160px;

  margin-bottom: 2vw;
}

.slide {
  position: absolute;
  inset: 0;

  z-index: 4;
  opacity: 0;
  transition: var(--default-transition-opacity);
  transition-delay: var(--default-transition-delay);
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
  z-index: 5;
}

.hero-img {
  object-fit: cover;
  object-position: 15% 50%;
  width: 100%;
  min-height: 160px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2vw;
  left: 10vw;
  height: clamp(150px, 100%, 3000px);
}

.hero-heading {
  color: var(--default-white);
  font-size: var(--font-Xlarge);
}

.hero-text h3 {
  font-size: var(--font-medium);
}

.hero-text h4 {
  font-size: var(--font-small);
  transform: translateY(-50%);
  font-weight: 400;
}

.hero-description {
  width: clamp(355px, 35vw, 1000px);
  top: 10vw;

  color: var(--default-white);

  font-size: var(--hero-description-size);
  text-align: justify;
}

.hero-button {
  position: absolute;
  bottom: 5%;
  height: clamp(30px, 4vw, 100px);
  width: clamp(133px, 17vw, 423px);

  transform: translateY(-50%);

  background-color: var(--button-main-color);

  font-size: var(--font-medium);
  font-weight: bold;

  border-radius: var(--button-radius);
  border: none;

  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--default-black);
  color: var(--default-white);

  border: solid;
  border-width: 1px;
  border-color: #83838376;

  transition: var(--default-button-transition);
}

/* --------------------- Hero section --------------------- */
/* --------------------- Vignette --------------------- */

.vignette-left,
.vignette-right {
  position: fixed;
  top: 0;

  height: 100%;
  width: 20vw;

  background: linear-gradient(90deg, #0000007c 0%, rgba(0, 0, 0, 0) 100%);

  pointer-events: none;
  z-index: 1;
}

.vignette-right {
  right: 0;

  background: linear-gradient(-90deg, #0000007c 0%, rgba(0, 0, 0, 0) 100%);
}

/* --------------------- vignette ---------------------*/
/* --------------------- Video grid ---------------------*/

.grid {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 80%;

  overflow-x: auto;
}

.grid::-webkit-scrollbar {
  display: none;
}

.line {
  position: relative;
  display: flex;
  align-items: center;
  height: clamp(200px, 24vw, 500px);
  margin-bottom: clamp(-400px, -8vw, -65px);
  gap: 1vw;

  overflow-y: hidden;
}

.line::-webkit-scrollbar {
  display: none;
}

.tile {
  position: relative;

  height: clamp(100px, 12vw, 250px);

  display: flex;

  border-radius: var(--default-border-radius);

  border: solid;
  border-color: var(--default-border-color);

  transition: var(--default-tile-transition);
}

.tile:hover {
  transition: var(--default-tile-transition);
  height: clamp(150px, 16vw, 550px);

  box-shadow: 2vw 1vw 2vw #00000075;
}

.tile-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;

  height: 5%;
  width: 100%;
  z-index: 3;
  padding: 0 5% 0 5%;
  transition: var(--default-tile-transition);

  pointer-events: none;
}

.tile:hover .tile-text {
  height: 95%;
  width: 90%;
}

.movie-title {
  position: relative;

  width: 100%;

  bottom: 0;

  font-size: var(--font-small);
  font-weight: bold;

  color: var(--default-white);

  transition: var(--default-tile-transition);

  pointer-events: none;

  transform: translateY(-100%);
}

.tile:hover .movie-title {
  transform: translateY(0%);

  transition-delay: 500ms;
  transition: var(--default-tile-transition);
}

.movie-year-genre {
  display: flex;
  opacity: 0;
  transition: var(--default-tile-transition);

  /* margin-top: 2%;
  margin-bottom: 2%; */
  margin: 2% 0 2% 0;
}

.tile:hover .movie-year-genre {
  opacity: 1;
}

.movie-year {
  position: relative;

  font-size: var(--font-xsmall);

  color: var(--default-white);
}

.movie-dot {
  color: var(--default-white);
  font-size: var(--font-xsmall);
  padding: 0 2% 0 2%;
}

.movie-genre {
  position: relative;

  font-size: var(--font-xsmall);

  color: var(--default-white);
}

.movie-description {
  width: 120%;

  color: var(--default-white);
  opacity: 0;

  font-size: var(--font-small);

  transition: var(--default-tile-transition);

  pointer-events: none;
  overflow-wrap: none;
  z-index: 3;
  overflow-y: hidden;
}

.tile:hover .movie-description {
  opacity: 1;

  transition-delay: var(--default-transition-delay);
}

.buy-now-button {
  position: absolute;

  width: 60%;
  height: 20%;
  bottom: 5%;
  left: 5%;

  font-size: var(--font-small);
  font-weight: bold;
  background-color: var(--default-white);
  opacity: 0;

  border-radius: 5vw;
  border: none;

  transition: var(--default-transition-opacity);
  z-index: 5;

  cursor: pointer;
}

.tile:hover > .buy-now-button {
  opacity: 1;

  transition-delay: 150ms;
}

.tile-fade {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;

  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.766));

  border-radius: var(--default-border-radius);

  z-index: 2;
}

.tile-image {
  object-fit: cover;
  object-position: 100% 30%;
  aspect-ratio: 1.618/1;
  border-radius: var(--default-border-radius);

  transition: var(--default-tile-transition);
}

.tile:hover > .tile-image {
  filter: brightness(40%);
}

/* --------------------- Video grid ---------------------*/
/* --------------------- sidebar ---------------------*/

.background-blur {
  position: absolute;
  background-color: #00000054;

  backdrop-filter: blur(1px);

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 2000;

  transition: opacity 500ms;

  opacity: 1;
}

.hidden {
  transform: translateX(-100%);
  transition: transform 250ms;
  opacity: 0;
}

.sidebar {
  position: fixed;

  width: 30vw;
  top: 0;
  bottom: 0;

  background-color: var(--default-white);

  box-shadow: 2px 0px 10px #0000001f;

  transition: transform 250ms;
  z-index: 2000;
}

.sidebar .close-button-arrow {
  margin-left: 3vw;
  margin-top: 7.5vw;
  width: 3vw;
  cursor: pointer;
}

.sidebar ul {
  margin: 3vw;
  padding: 0;

  font-size: var(--font-large);
}

.sidebar li {
  padding-top: 1vw;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

.sidebar-logo img {
  width: 80%;
}

/* --------------------- sidebar ---------------------*/

/* --------------------- index.html ---------------------*/
/* --------------------- collections.html ---------------------*/

/* --------------------- collections.html ---------------------*/
/* --------------------- Contact.html --------------------- */

.contact-page {
  height: 100%;
  width: 100%;
  background-color: #e2e2e2;
}

.close-button {
  width: 2vw;
  margin-left: 5vw;
  margin-top: 5vw;

  position: absolute;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
}

.full-logo {
  margin-top: 2vw;
  width: 24vw;
  transform: translateX(5%);
}

.about-contact-top {
  display: flex;
}

.center-content {
  display: flex;
  justify-content: center;

  margin-top: 80px;
}

.left-text {
  width: 600px;

  line-height: 35px;
  font-size: 24px;
  text-align: justify;
}

.left-text h2 {
  padding-bottom: 1.5em;
}

.contact-form {
  margin: 0;
  padding: 0;
  width: 30%;
}

.contact-form input {
  border-radius: 0.5em;
  border: none;
  padding: 1vw 1vw 1vw 1vw;
  margin-bottom: 1vw;
  width: 100%;
}

.contact-form .message {
  width: 100%;
  height: 20vh;
  padding: 1vw 1vw 1vw 1vw;
  border: none;

  border-radius: var(--default-border-radius);
}

.contact-form .send {
  width: 14vw;
  height: 4vw;
  margin-top: 3vh;

  background-color: var(--default-black);
  color: var(--default-white);

  border-radius: 5vw;

  font-size: var(--font-medium);
}

.social-links {
  display: flex;
  justify-content: center;
  position: relative;

  margin-top: 5vw;

  width: 100%;
  bottom: 10px;
}

.social-links img {
  padding: 1em;
}
/* --------------------- Contact.html --------------------- */
/* --------------------- About.html --------------------- */

.about-page {
  height: 100%;
  width: 100vw;

  background-color: var(--default-grey-color);
}

.about-page .image-container {
  display: flex;
  align-self: center;

  margin-left: 4em;
}

.about-page .image-container .mockup-left {
  display: flex;

  height: 100%;
}

.about-page .image-container .mockup-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 25px;
}

/* --------------------- about.html --------------------- */
/* --------------------- search.html --------------------- */

.searchbar {
  width: 100vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 50%;
  height: 6vw;
  border-color: #848484;
  border-radius: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;

  font-size: var(--font-large);
}

.searchbar input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.searchbar input:focus {
  outline: none;
}

.search-results {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 80%;

  overflow-x: auto;

  height: clamp(200px, 24vw, 500px);
  margin-bottom: clamp(-400px, -8vw, -65px);
  gap: 1vw;

  overflow-y: hidden;
}
/* --------------------- search.html --------------------- */
/* --------------------- checkout.html --------------------- */

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.checkout-container {
  display: flex;
  width: 80%;
  height: 80%;

  background-color: var(--default-white);

  border-radius: 2vw;

  box-shadow: var(--default-box-shadow);
}

.none {
  display: none;
}

.left-checkout {
  width: 50%;
  overflow: hidden;

  border-radius: 2vw 0 0 2vw;
}

.left-checkout img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}
.right-checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 2vw;
}

.checkout-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 5vw;
  height: 100%;
}

.checkout-middle {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.checkout-middle .checkout-description {
  font-size: var(--font-small);
  line-height: 1.5;
}

.checkout-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  font-size: var(--font-small);
  line-height: 1.5;
}

.right-checkout button {
  width: 100%;
  height: 8vw;
  color: var(--default-white);
  background-color: var(--default-black);
  border-radius: 10vw;
  border: none;
  font-size: var(--font-medium);
}
