* {
  margin: 0;
  font-family: "Inter", sans-serif;

  --button-radius: 40px;
  --button-font-size: 2vw;

  --hero-title-size: 5vw;
  --hero-description-size: 1.3vw;
  --hero-line-height: 29px;

  /* --------- Colours --------------- */
  --button-main-color: #d9d9d9;
  --button-hover-color: #000000;
  --default-grey-color: #e2e2e2;
}

a {
  color: #000000;

  text-decoration: none;
}

.header {
  width: 100vw;

  background-color: white;

  z-index: 1000;
}

.navbar {
  position: relative;

  height: 13vw;

  background-color: white;

  z-index: 1000;
}

.navbar .top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2vw;

  background-color: white;
}

.navbar .left {
  position: sticky;
  top: 0;
}

.navbar .left img {
  height: 2vw;
  padding: 0.5vw;
  transform: translateY(50%);
}

/* make bottom class more specific */

.bottom {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;

  height: 4vw;

  background-color: white;

  z-index: 1000;
}

.header-logo {
  height: 10vw;
}

.user-icon {
  height: 5vw;
  transform: translateY(50%);
}

.pages {
  display: flex;
  justify-content: space-between;

  width: 60vw;

  font-size: 2vw;
  font-weight: 300;
}

.pages a {
  cursor: pointer;
}

.pages .active {
  font-weight: bold;
  text-decoration: underline;
}

.main {
  height: 2000px;

  background: linear-gradient(
      237.41deg,
      rgba(0, 0, 0, 0.5) 14.81%,
      rgba(255, 255, 255, 0) 88.39%
    ),
    #232323;
}

/* --------------------- Hero section ---------------------*/

.arrow-left {
  position: absolute;
  top: 50%;
  left: 2vw;
  transform: translate(0%, -50%);

  width: 5vw;

  z-index: 10;
  opacity: 25%;
  transition: 200ms opacity ease-in-out;
}

.arrow-left:hover {
  opacity: 60%;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 2vw;
  transform: translate(0%, -50%);

  width: 5vw;

  z-index: 10;
  opacity: 25%;
  transition: 200ms opacity ease-in-out;
}

.arrow-right:hover {
  opacity: 60%;
  cursor: pointer;
}

.heroes {
  position: relative;
  height: 23vw;
}

.heroes > ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;

  z-index: 4;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
  z-index: 5;
}

.hero-img {
  width: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2vw;
  left: 10vw;
}

.hero-heading {
  color: white;
  font-size: var(--hero-title-size);
}

.hero-text h3 {
  font-size: 2vw;
}

.hero-text h4 {
  font-size: 1.5vw;
  transform: translateY(-50%);
  font-weight: 400;
}

.hero-description {
  width: 35vw;
  top: 10vw;

  color: white;

  font-size: var(--hero-description-size);
  text-align: justify;
}

.hero-button {
  position: absolute;
  top: 15.5vw;
  height: 4vw;
  width: 17vw;

  background-color: var(--button-main-color);

  font-size: var(--button-font-size);
  font-weight: bold;

  border-radius: var(--button-radius);
  border: none;

  cursor: pointer;
}

.hero-button:hover {
  background-color: #000000;
  color: white;

  border: solid;
  border-width: 1px;
  border-color: #83838376;

  transition: all;
  transition-duration: 350ms;
}

/* --------------------- Hero section --------------------- */
/* --------------------- Vignette --------------------- */

.vignette-left,
.vignette-right {
  position: fixed;
  top: 0;

  height: 100%;
  width: 20vw;

  background: linear-gradient(90deg, #0000007c 0%, rgba(0, 0, 0, 0) 100%);

  pointer-events: none;
  z-index: 1;
}

.vignette-right {
  right: 0;

  background: linear-gradient(-90deg, #0000007c 0%, rgba(0, 0, 0, 0) 100%);
}

/* --------------------- vignette ---------------------*/
/* --------------------- Video grid ---------------------*/

.grid {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 80%;

  overflow-x: auto;
}

.grid::-webkit-scrollbar {
  display: none;
}

/* using negative values for the margin to avoid overflow issue. 
if overflow x and y are different, they override each other.
use first margin to control grid vertical spacing. */

.line {
  display: flex;
  align-items: center;

  margin: -3vw -1vw -3vw -4vw;
  padding: 5vw;

  overflow-x: auto;
}

.line::-webkit-scrollbar {
  display: none;
}

.tile {
  position: relative;

  height: 10vw;
  margin: 0vw 1vw 0vw 1vw;
}

.tile-image {
  object-fit: cover;
  object-position: 100% 30%;
  aspect-ratio: 1.618/1;
  border-radius: 1vw;

  height: 10vw;

  transition: 200ms all ease-in-out;
}

.tile-image:hover {
  height: 12vw;

  box-shadow: 2vw 1vw 2vw #00000075;
  filter: brightness(50%);

  transition: 200ms all ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.movie-title {
  position: absolute;

  bottom: 5%;
  left: 5%;

  font-size: 1vw;
  font-weight: bold;

  color: white;

  transition: 200ms all ease-in-out;
  z-index: 2;
  pointer-events: none;
}

.tile:hover > .movie-title {
  transform: translateY(-500%);

  font-size: 1.2vw;

  transition: 200ms all ease-in-out;
  transition-delay: 50ms;
}

.movie-description {
  position: absolute;

  top: 35%;
  left: 5%;
  width: 16vw;

  color: white;
  opacity: 0;

  font-size: 0.8vw;

  transition: 200ms all ease-in-out;
  pointer-events: none;
  overflow-wrap: none;
  z-index: 2;
}

.tile:hover > .movie-description {
  opacity: 100;

  visibility: unset;

  transition: all;
  transition: 200ms all ease-in-out;
  transition-delay: 200ms;
}

.buy-now-button {
  position: absolute;

  width: 10vw;
  height: 2vw;
  bottom: -15%;
  left: 5%;

  background-color: white;
  opacity: 0;

  border-radius: 1vw;
  border: none;

  transition: all;
  transition-duration: 50ms;
  z-index: 1;
}

.tile:hover > .buy-now-button {
  opacity: 100;

  transition: 200ms all ease-in-out;
  transition-delay: 200ms;

  pointer-events: none;
}

/* find way of making tile stay active while hovering over buy now button */
/* --------------------- Video grid ---------------------*/

/* --------------------- index.html ---------------------*/
/* --------------------- collections.html ---------------------*/

/* --------------------- collections.html ---------------------*/
/* --------------------- Contact.html --------------------- */

.contact-page {
  height: 100vh;
  width: 100vw;
  background-color: #e2e2e2;
}

.close-button {
  width: 2vw;
  margin-left: 5vw;
  margin-top: 5vw;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
}

.full-logo {
  width: 30vw;
}

.about-contact-top {
  display: flex;
}

.center-content {
  display: flex;
  justify-content: center;

  margin-top: 80px;
}

.left-text {
  width: 600px;

  line-height: 35px;
  font-size: 24px;
  text-align: justify;
}

.left-text h2 {
  padding-bottom: 1.5em;
}

.contact-form {
  display: flex;
  align-items: center;
}

.contact-form input {
  padding: 1vw;
  margin: 0.5vw;

  border-radius: 0.5em;
  border: none;
}

.contact-form .line-1 {
  display: flex;
  justify-content: space-between;
}

.contact-form label {
  margin: 0.5vw;
}

.contact-form .name {
  width: 90%;
  margin-left: 0;
}

.contact-form .email {
  width: 100%;

  margin-left: 1vw;
  margin-right: 0;
}

.contact-form .subject,
.contact-form .category {
  width: 100%;
}

.contact-form .message {
  width: 100%;
  height: 20vh;

  border-radius: 1vw;
}

.contact-form .send {
  width: 14vw;
  height: 4vw;
  margin-top: 3vh;

  background-color: #000000;
  color: white;

  border-radius: 5vw;

  font-size: var(--button-font-size);
}

.social-links {
  display: flex;
  justify-content: center;
  position: absolute;

  width: 100%;
  bottom: 1vh;
}

.social-links img {
  padding: 1em;
}
/* --------------------- Contact.html --------------------- */
/* --------------------- About.html --------------------- */

.about-page {
  height: 100vh;
  width: 100vw;

  background-color: var(--default-grey-color);
}

.about-page .image-container {
  display: flex;
  align-self: center;

  margin-left: 4em;
}

.about-page .image-container .mockup-left {
  display: flex;

  height: 100%;
}

.about-page .image-container .mockup-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 25px;
}

/* --------------------- About.html --------------------- */
